:root {
    --primary-color: #331832; /* Dark purple */
    --secondary-color: #EDE7F6; /* Light purple */
    --accent-color: #D32F2F; /* Red */
    --text-color: #212121; /* Dark grey */
    --light-blue: #E3F2FD; /* Light blue for topics */
    --light-green: #E8F5E9; /* Light green for blogs */
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-accent {
    color: var(--accent-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    position: relative;
}

header .logo {
    position: absolute;
    left: 20px;
}

header .forum-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

header img {
    width: 150px;
}

.home-button {
    color: #212529;
}

#home-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#home-btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.forum-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin-left: 20px;
}

.main-content {
    padding: 20px;
}

#blog-content-box {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#blog-content {
    white-space: pre-wrap;
}

.btn-edit, .btn-delete {
    background-color: cornflowerblue;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: dodgerblue;
}

.btn-delete {
    background-color: indianred;
}

.btn-delete:hover {
    background-color: darkred;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.forum-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

#blog-title {
    text-align: center;
    background-color: #e5e7eb; /* Use the same light gray color as the forum topic background */
    padding: 10px;
    border-radius: 5px;
}

#blog-content-box {
    background-color: var(--secondary-color); /* Use the same light gray color as the forum topic background */
    padding: 20px;
    border-radius: 10px;
}

#save-edit-btn{
    background-color: cornflowerblue;
}

#edit-blog-box {
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-blog-box .bg-white {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

#edit-blog-box textarea {
    height: 200px;
}

#edit-blog-box .flex {
    justify-content: flex-end;
    gap: 10px;
}
